{% extends "base.html" %}

{% block content %}
    
    <main class="content" style="max-width: 75vw;">
        <h1>{{ title }}</h1>

        {# Filter #}

        <div style="width: 75vw;" class="d-flex btn btn-secondary" data-bs-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false" aria-controls="collapseFilters">

            <span style="text-align: left;">Filters</span>

        </div>

        <div class="collapse" id="collapseFilters">
            <div class="card card-body">
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Produtc</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Product">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Produtc</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Product">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Produtc</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Product">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Produtc</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Product">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">Produtc</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Product">
                    </div>
                </form>
            </div>
        </div>


        {# Table #}

        <table class="table table-hover">
            <thead>
                <td>Actions</td>
                <td>#</td>
                <td><i class="fi fi-rr-add"></i></td>
            </thead>
            <tbody>
                {% for item in values %}

                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary"><i class="fi fi-rr-eye"></i></button>
                        <button class="btn btn-sm btn-secondary"><i class="fi fi-rr-edit"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="fi fi-rr-trash"></i></button>
                    </td>
                    <td>{{ item.pk }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}